<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roadrunner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Road Runner"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/roadRunner">
        <activity
            android:name=".registerActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="true"
            android:theme="@style/roadRunner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>